html {
  background: url(clavicles.svg) #000 center bottom/contain no-repeat;
  color: #fff;
  font-family: monospace;
  font-size: 2em;
  height: 100%;
  text-align: center;
}

h1 {
  padding-top: 1em;
}